<script>
  
  // Enable pusher logging - don't include this in production
  Pusher.logToConsole = true;
  var pusher = new Pusher('3b8fe903171ecd2c3a5e', {
    cluster: 'us2',
    encrypted: true
  });
  var channel = pusher.subscribe('my-channel');
  channel.bind('my-event', function(data) {
    //$("#the-message").append( '<p>' + data.user_email + ': ' +  data.comment + '</p>'); 

    $("#the-message").append( 
      
'<div class="card border-primary mb-3">' +
'<div class="card-header">' + data.user_email + '</div>' + 
'<div class="card-body">' + '<h4 class="card-title">' + '</h4>' +
'<p class="card-text">' + data.comment + '</p>' + '</div>' + '</div>' +

);


    $('#comment_comment').val('');   
  });
</script>