<br><br>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">
        &copy; <%= Time.now.strftime('%Y')%> <%= @app_setting.app_name %> |
        <%= @app_setting.city %> <%= @app_setting.state %>
        <span class='float-right'>
          <strong>
            News You Can Trust
          </strong>
        </span>
        </span>
      </div>
    </footer>
    <br><br>